.BandwidthCalc {
	background-color: #1e2a39;
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: calc(10px + 2vmin);
	color: white;
	box-sizing: border-box;
}

.BadwidthCalc-quiz {
	display: flex;
	width: 85%;
	max-width: 500px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.BandwidthCalc-label {
	padding: 0.75em;
}

.BandwidthCalc-input {
	width: 9ch;
	line-height: 5ch;
	padding: 0.5em;
	margin-bottom: 1.5em;
	text-align: center;
}

.BandwidthCalc-intro h2 {
	text-align: center;
}

.BandwidthCalc-button-card {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	width: 25%;
	border-radius: 4px;
	text-align: center;
	/* box-shadow: 5px 10px #18222e; */
}

.BandwidthCalc-figure {
	width: 33%;
	cursor: pointer;
}

.BandwidthCalc-button-card:hover,
.BandwidthCalc-button-card:hover button {
	color: white;
	text-decoration: underline;
}

.BandwidthCalc-button {
	background: none;
	border: none;
	font-size: calc(10px + 2vmin);
	cursor: pointer;
	color: #61dafb;
}

/* .BandwidthCalc-button:hover {
	color: white;
} */

.BandwidthCalc-card-image {
	width: 100%;
}

.BandwidthCalc-card-image:hover {
	stroke: white;
}

.Bandwidth-quiz-button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
