.BandwidthCalc {
	background-color: #1e2a39;
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: calc(1rem + 2vmin);
	color: white;
	box-sizing: border-box;
}

.BandwidthCalc-quiz {
	display: flex;
	width: 85%;
	max-width: 600px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.BandwidthCalc-label {
	padding: 0.75rem;
	font-size: small;
}

.BandwidthCalc-input {
	width: 9ch;
	line-height: 5ch;
	padding: 0.5em;
	margin-bottom: 1.5rem;
	text-align: center;
}

.BandwidthCalc-intro p {
	font-size: smaller;
}

.BandwidthCalc-intro h2 {
	text-align: center;
}

.BandwidthCalc-button-card {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	width: 25%;
	border-radius: 4px;
	text-align: center;
	/* box-shadow: 5px 10px #18222e; */
}

.BandwidthCalc-figure {
	width: 33%;
	cursor: pointer;
}

.BandwidthCalc-button-card:hover,
.BandwidthCalc-button-card:hover button {
	color: white;
	text-decoration: underline;
}

.BandwidthCalc-button {
	background: none;
	border: none;
	font-size: calc(1rem + 2vmin);
	cursor: pointer;
	color: #61dafb;
	padding: 1rem;
}

/* .BandwidthCalc-button:hover {
	color: white;
} */

.BandwidthCalc-card-image {
	width: 100%;
}

.BandwidthCalc-card-image:hover {
	stroke: white;
}

.Bandwidth-quiz-button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.BandwidthCalc-footer {
	width: 100%;
	height: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.BandwidthCalc-logo-container {
	width: 33%;
	max-width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.BandwidthCalc-logo {
	width: 66%;
}

.BandwidthCalc-questionNumber {
	font-size: smaller;
}

@media screen and (min-width: 700px) {
	.BandwidthCalc-footer,
	.BandwidthCalc-header {
		justify-content: space-evenly;
	}
}
